<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Clinical Selenium Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Regression Tests">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>

</suite>
